.simulator-main {
    width: 300px;
    height: 200px;
    border: 1px solid black;
    position: relative;
    margin-top: 20px;
}

.light {
    left: 10px;
    top: 10px;
    position: relative;
    width: 50px;
    height: 40px;
    border: 1px solid black;
    margin-bottom: 10px;
}

input, button {
    font-size: 20px;
    margin: 10px;
}
